In [15]:
# Import BeautifulSoup library for HTML parsing
from bs4 import BeautifulSoup
# Import requests library for making HTTP requests
import requests

# Define the URL of the Wikipedia page we want to scrape
url = "https://en.wikipedia.org/wiki/List_of_largest_employers"
# Define headers with a user-agent to make the request more browser-like
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}
# Send an HTTP GET request to the URL with headers and store the response
page = requests.get(url, headers=headers)
# Parse the HTML content of the page using BeautifulSoup with the HTML parser
soup = BeautifulSoup(page.text, "html")

In [4]:
# print(soup.prettify())

In [5]:
#soup.find_all("table")[0]

In [38]:
table = soup.find_all("table")[0]

In [39]:
world_titles = table.find_all("th")

In [41]:
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Employer', 'Employees (mn)', 'Country', 'State-owned', 'Ref']

In [42]:
import pandas as pd

In [45]:
df = pd.DataFrame(columns = world_table_titles)
df

Empty DataFrame
Columns: [Rank, Employer, Employees (mn), Country, State-owned, Ref]
Index: []

In [54]:
column_Data = table.find_all("tr")
for row in column_Data[1:]:
    row_data = row.find_all("td")
    individual_row_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_row_data

In [55]:
df

,Rank,Employer,Employees (mn),Country,State-owned,Ref
0,1,Ministry of Defence (India),2.99,India,,[1]
1,2,Department of Defense (USA),2.93,United States,,[1]
2,3,People's Liberation Army,2.55,China,,[1]
3,4,Walmart,2.30,United States,,[1]
4,5,Amazon,1.61,United States,,[1]
5,6,China National Petroleum,1.45,China,,[1]
6,7,National Health Service,1.38,United Kingdom,,[1]
7,8,Foxconn,1.29,Taiwan,,[1]
8,9,Indian Railways,1.21,India,,[2]
9,10,Tata Group,1.15,India,,[3]
10,1,Ministry of Defence (India),2.99,India,,[1]
11,2,Department of Defense (USA),2.93,United States,,[1]
12,3,People's Liberation Army,2.55,China,,[1]
13,4,Walmart,2.30,United States,,[1]
14,5,Amazon,1.61,United States,,[1]
15,6,China National Petroleum,1.45,China,,[1]
16,7,National Health Service,1.38,United Kingdom,,[1]
17,8,Foxconn,1.29,Taiwan,,[1]
18,9,Indian Railways,1.21,India,,[2]
19,10,Tata Group,1.15,India,,[3]

In [56]:
df.to_csv(r"Desktop\Gatduel.csv", index = False)

In [7]:
#for i in range(1,11):
    #print("Congratulations, You have login successfully", i)

In [1]:
# Import BeautifulSoup Library
from bs4 import BeautifulSoup
# Import requests
import requests

In [ ]:
url = "https://en.wikipedia.org/wiki/United_States_federal_budget"
headers = {"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36"}
requests.