## Gatduel is scraping the list of largest Company in USA by Revenue

In [1]:
# Import the modules and Libraries here. I am going to use BeautifulSoup, Requests, and Pandas

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"}
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page = requests.get(url, headers = headers)

soup = BeautifulSoup(page.text, "html.parser")
table = soup.find_all("table")[0]

In [3]:
world_titles = table.find_all("th")

In [4]:
world_titles_table = [title.text.strip() for title in world_titles]

In [5]:
world_titles_table

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [6]:
df = pd.DataFrame(columns = world_titles_table)

In [7]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [8]:
column_data = table.find_all("tr")

In [9]:
for row in column_data[1:]:
    row_data = row.find_all("td")
    individual_data = [data.text.strip() for data in row_data]

    length = len(df)
    df.loc[length] = individual_data

In [10]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"680,985",5.1%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"637,959",11.0%,"1,556,000","Seattle, Washington"
2,3,UnitedHealth Group,Healthcare,"400,278",7.7%,"400,000","Minnetonka, Minnesota"
3,4,Apple,Technology,"391,035",2.0%,"164,000","Cupertino, California"
4,5,CVS Health,Healthcare,"372,809",4.2%,"259,500","Woonsocket, Rhode Island"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Aerospace and defense,"47,716",12.9%,"117,000","Reston, Virginia"
96,97,Coca-Cola,Beverage,"47,061",2.9%,"69,700","Atlanta, Georgia"
97,98,TIAA,Financials,"46,946",2.6%,"15,623","New York City, New York"
98,99,Travelers,Insurance,"46,423",12.2%,"34,000","New York City, New York"
99,100,Eli Lilly,Pharmaceutical industry,"45,043",32.0%,"47,000","Indianapolis, Indiana"

In [11]:
df.to_csv(r"C:\Users\Student\Desktop\Gatduel's Portfolio\GatduelScrape.csv", index = False)